data/*
Data_files
#Modelling_sensetive_elements/Data_files
# object files (.o) and output (executible) files (.out)
*.o*
# settings vscod
*.vscode/*
# dir tmp, but not /tmp/makefile
tmp/*
!./tmp/Makefile
#dir build
build/*
